@model WebApplication5.Models.Java

@{
    ViewData["Title"] = "Edit";
}
<div class="bg-light p-5 rounded">
<h1>Ndrysho</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GrupiLendaId" />
            <input type="hidden" asp-for="TeacherId" />


            <div class="form-group">
                <label asp-for="JavaNumri" class="control-label"></label>
                <input asp-for="JavaNumri" class="form-control" />
                <span asp-validation-for="JavaNumri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarrja" class="control-label"></label>
                <textarea asp-for="Pjesemarrja" style=" min-height: 200px; " class="form-control"></textarea>
                <span asp-validation-for="Pjesemarrja" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Lendet">Back to List</a>
</div>

</div>