
@{
	Teacher t = new Teacher();
}
   
<div style="width:100%; display:flex;flex-direction:row;flex-wrap:wrap; justify-content:space-evenly">
	@if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
	{
		<div style="width:30%; height:auto; display:flex;flex-direction:column; margin-bottom:5%; justify-content:center; text-align:center">
			<a asp-action="Index" asp-controller="Students"><img style="width:70%; height:auto;" src="../../images/student.png" /></a>

			<a asp-action="Index" asp-controller="Students" style="margin-top:5px; text-decoration:none; font-size:23px; color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Studentët</a>
		</div>
		<div style="width:30%; height:auto; display:flex;flex-direction:column; margin-bottom:5%; justify-content:center; text-align:center">
			<a asp-action="Index" asp-controller="Teachers"><img style="width:70%; height:auto;" src="../../images/teacher.png"  /></a>
			<a asp-action="Index" asp-controller="Teachers" style="margin-top:5px;text-decoration:none; font-size:23px; color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Mësuesit</a>
		</div>
		<div style="width:30%; height:auto; display:flex;flex-direction:column;margin-bottom:5%; justify-content:center; text-align:center">
			<a asp-action="Index" asp-controller="Subjects"><img style="width:70%; height:auto;" src="../../images/book.png" /></a>
			<a asp-action="Index" asp-controller="Subjects" style="margin-top:5px;text-decoration:none; font-size:23px; color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Lëndët</a>
		</div>
		<div style="width:30%; height:auto; display:flex;flex-direction:column; margin-bottom:5%; justify-content:center; text-align:center">
			<a asp-action="Index" asp-controller="StudentTeachers"><img style="width:70%; height:auto;" src="../../images/training.png" /></a>

			<a asp-action="Index" asp-controller="StudentTeachers" style="margin-top:5px;text-decoration:none; font-size:23px; color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Student-Mësues</a>
		</div>
		<div style="width:30%; height:auto; display:flex;flex-direction:column; margin-bottom:5%; justify-content:center; text-align:center">
			<a asp-action="Index" asp-controller="SubjectTeachers"><img style="width:70%; height:auto;" src="../../images/studying.png" /></a>
			<a asp-action="Index" asp-controller="SubjectTeachers" style="margin-top:5px;text-decoration:none; font-size:23px; color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Lëndë-Mësues</a>
		</div>
	}
	@if (User.Identity.IsAuthenticated && (User.IsInRole("Teacher") || User.IsInRole("ADMIN")))
	{
		<div style="width:30%; height:auto; display:flex;flex-direction:column;margin-bottom:5%; justify-content:center; text-align:center">
			<a asp-action="Vleresimi" asp-route-id="@t.Id" asp-controller="Transkriptas"><img style="width:70%; height:auto;" src="../../images/marking.png" /></a>
			<a asp-action="Vleresimi" asp-route-id="@t.Id" asp-controller="Transkriptas" style="margin-top:5px;text-decoration:none; font-size:23px; color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Vlerësimi</a>
		</div>
	}




</div>


