html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*{
    margin:0;
    padding:0;
}

a {
text-decoration:none;
}

/*toastr*/
#toast-container > .toast-error {
    opacity: 100%;
    box-shadow: none;
    margin-top: 15px;
}



.nav-link.active {
    text-decoration: underline #006db0;
    text-underline-offset: 0.5rem;
    transition: .2s ease-in-out;
}