@model IEnumerable<WebApplication5.Models.Fakulteti>

@{
	ViewData["Title"] = "Index";
}

<a asp-action="Admin" asp-controller="Home" class="btn btn-primary float-md-start" style="margin-right:15px;"><i class="bi bi-arrow-90deg-left text-white"></i></◄◄i> </a>
<h1 class="mt-3 mb-3">Fakultetet</h1>



<table class="table">
	<thead>
		<tr class="text-center">
			<th>
				@Html.DisplayNameFor(model => model.Emri)
			</th>
		

		

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
				<tr class="text-center align-middle">
					<td>
					@Html.DisplayFor(modelItem => item.Emri)
					</td>
			


						<td class="align-middle" style="display:flex; flex-direction:column;">


					<a asp-action="Teachers" class="btn btn-success" asp-controller="SubjectTeachers" asp-route-id="@item.Id">Profesorët</a>



						</td>
				</tr>
		}
	</tbody>
</table>
