@model WebApplication5.Models.Student

@{
    ViewData["Title"] = "Edit";
}
<div class="bg-light p-5 rounded">
<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

			<div class="row">
				<div class="col-md-6 mb-4">

					<div class="form-group">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" id="name" class="form-control form-control-lg" readonly="true" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

				</div>
				<div class="col-md-6 mb-4">

					<div class="form-group">
						<label asp-for="Surname" class="control-label"></label>
						<input asp-for="Surname" id="Surname" class="form-control form-control-lg" />
						<span asp-validation-for="Surname" class="text-danger"></span>
					</div>

				</div>

				<div class="col-md-6 mb-4">
					<div class="form-group">
						<label asp-for="ParentName" class="control-label"></label>
						<input asp-for="ParentName" class="form-control" />
						<span asp-validation-for="ParentName" class="text-danger"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 mb-4 d-flex align-items-center">

					<div class="form-outline datepicker w-100">
						<div class="form-group">
							<label asp-for="Birthday" class="control-label"></label>
							<input asp-for="Birthday" type="date" id="Birthday" class="form-control form-control-lg" />
							<span asp-validation-for="Birthday" class="text-danger"></span>
						</div>
					</div>

				</div>
				<div class="col-md-6 mb-4">


					<div class="form-group">

						<label asp-for="Gender" class="control-label"></label>
						<select class="form-select form-control" asp-for="Gender" aria-label="Default select example">


							<option selected asp-for="Gender" value=M>M</option>
							<option asp-for="Gender" value=F>F</option>
							<span asp-validation-for="Gender" class="text-danger"></span>
						</select>
					</div>


				</div>
			</div>

			<div class="row">
				<div class="col-md-9 mb-4">
					<div class="form-group">
						<label asp-for="Fakulteti.Emri" class="control-label"></label>
						<select asp-for="FakultetiId" class="form-control" asp-items="ViewBag.FakultetiId"></select>
					</div>
				</div>
				<div class="col-md-8 mb-4 pb-2">

					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
						<input asp-for="Email" class="form-control" readonly="true" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>


				</div>


				<div class="col-md-6 mb-4 pb-2">

					<div class="form-group">
						<label asp-for="Phone" class="control-label"></label>
						<input asp-for="Phone" class="form-control" />
						<span asp-validation-for="Phone" class="text-danger"></span>
					</div>

				</div>
				<div class="col-md-6 mb-4 pb-2">
					<div class="form-group">
						<label asp-for="Residence" class="control-label"></label>
						<input asp-for="Residence" class="form-control" />
						<span asp-validation-for="Residence" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<div class="form-group">
						<label asp-for="State.Name" class="control-label"></label>
						<select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"></select>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="form-group">
						<label asp-for="Nationality.Name" class="control-label"></label>
						<select asp-for="NationalityId" class="form-control" asp-items="ViewBag.NationalityId"></select>
					</div>
				</div>

				<div class="col-md-6 mb-4 pb-2">
					<div class="form-group">
						<label asp-for="ImageUrl" class="control-label"></label>
						<input asp-for="ImageUrl" class="form-control" />
						<span asp-validation-for="ImageUrl" class="text-danger"></span>
					</div>
				</div>

				<div class="col-md-6 mb-4 pb-2" style="display:none;">
					<div class="form-group">
						<label asp-for="Password" class="control-label"></label>
						<input asp-for="Password" type="text" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>

					</div>
				</div>
				<div class="col-md-6 mb-4 pb-2" style="display:none;">
					<div class="form-group">
						<label asp-for="ConfirmPassword" class="control-label"></label>
						<input asp-for="ConfirmPassword" type="text" class="form-control" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

					</div>
				</div>

			</div>

            <div class="form-group">
				<input type="submit" value="Ruaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	
}
