<div class="row" style="margin-top:10%;">
	<div class="col-md-6 offset-3 alert alert-danger text-center ">
		<h1 class="text-dark">Nuk keni qasje të autorizuar</h1>
		<hr />
		<a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Kthehuni prapa</a>

	</div>

</div>